/*-- scss:defaults --*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$presentation-heading-font: "Open Sans", sans-serif !default;
$presentation-title-slide-text-align: left;
$presentation-heading-font-weight: 400;
$presentation-h1-font-size: 2.2em !default;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 38px !default;

// colors
$body-bg:      #FFFFFF;
$body-color:   #000000;

/*-- scss:rules --*/

.small {
  font-size: 0.85em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.medium {
  font-size: 0.9em;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.middle{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}


.mark, mark {
  background-color: #73bfe2;
  color: #000000;
}

.reveal .slide .goal {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #a2d4ec;
}

.reveal a {
    color: #000000;
    text-decoration: none;
    transition: color .15s ease
}



.info-box {
  padding: 2em;
  margin: 10px;
  box-shadow: 10px 25px 25px -9px darkgray;
  height: 225px; /* Or adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 0.85em;
}


.workshop-card {
  background-color: #ffffff;
  border: 2px solid #cfe8f3;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.workshop-number {
  background-color: #46abdb;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
  font-size: 2em;
  font-weight: bold;
}
.workshop-card h4 {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 600;
}
.workshop-card p {
  font-size: 1.1em;
  color: #333;
}

